.deleteIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icn_delete.png) no-repeat;
}

.deleteIcon a:hover {
  background-position: -50px 0;
} 
.stopIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/action_stop.png) no-repeat;
}

.stopIcon a:hover {
  background-position: -50px 0px;
} 
.playIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icn_play.png) no-repeat;
}

.playIcon a:hover {
  background-position: -50px 0px;
}

.launchIcon a {
	display: block;float:left;margin:1px;
	width: 16px;
	height: 16px;
	background: transparent url(../images/icon_launch.png) no-repeat;
}

.launchIcon  a:hover {
  background-position: 0 -16px;
}

.copyIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_copy.png) no-repeat;
}

.copyIcon a:hover {
  background-position: -50px 0px;
}

.downIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_failover_down.png) no-repeat;
}

.downIcon a:hover {
  background-position: -50px 0px;
}

.servicedownIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_failover_service_down.png) no-repeat;
}

.servicedownIcon a:hover {
  background-position: -50px 0px;
}

.failupIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_failover_up.png) no-repeat;
}

.failupIcon a:hover {
  background-position: -50px 0px;
}

.editIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_edit.png) no-repeat;
}

.editIcon a:hover {
  background-position: -50px 0px;
}

.monitorIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_monitor.png) no-repeat;
}

.monitorIcon a:hover {
  background-position: -50px 0px;
}

.icon_monitorGray a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_monitorGray.png) no-repeat;
}

.icon_monitorGray a:hover {
  background-position: -50px 0px;
}

.monitorGreenIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_monitorGreen.png) no-repeat;
}

.monitorGreenIcon a:hover {
  background-position: -50px 0px;
}

.monitorstopIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_monitor_stop.png) no-repeat;
}

.rebootIcon a:hover {
  background-position: -50px 0px;
}

.rebootIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_reboot.png) no-repeat;
}
.monitorstopIcon a:hover {
	background-position: -50px 0px;
}

.lockIcon{
	margin: 1px 1px 1px 3px!important;
	padding: 1px 1px 2px 1px;
	width: 18px;
	height: 17px;
	background: transparent url(../images/icon_padlock.png) no-repeat;
	cursor: default;
	text-decoration: none;
}

.lockIcon:hover{
	text-decoration: none;
	background-position: -50px 0px;
}

.lockIcon_h {
	margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_padlock.png) no-repeat;
	background-position: -50px 0px;
	cursor: default;
}

.sshIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_ssh.png) no-repeat;
}

.sshIcon a:hover {
  background-position: -50px 0px;
}

.tableIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_table_inputs.png) no-repeat;
}

.tableIcon a:hover {
  background-position: -50px 0px;
}

.shutdownIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_hardshutdown.png) no-repeat;
}
.shutdownIcon a:hover {
  background-position: -50px 0px;
}

.resumeIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_resume.png) no-repeat;
}
.resumeIcon a:hover {
  background-position: -50px 0px;
}

.suspendIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_suspend.png) no-repeat;
}

.suspendIcon a:hover {
  background-position: -50px 0px;
}

.hardrebootIcon a {
	display: block;float:left;margin:1px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_hardreboot.png) no-repeat;
}

.hardrebootIcon a:hover {
  background-position: -50px 0px;
}

table.hide-action-column {}

table.hide-action-column tr {
  overflow: visible;
}

table.sticky-header th.action-column {
  display: none;
}
 
table.hide-action-column .action-column {
  display: none;
  position:absolute;
  left: 0px;
  width: 100px;
  z-index:99;
  background-color: #EDF5FA;
  border-top: 1px solid #EDF5FA;
  border-right: 1px solid #D3E7F4;
  border-bottom: 1px solid #D3E7F4;
  border-left: 1px solid #D3E7F4;
  box-shadow: 0px 1px 1px #bbb;
		-moz-box-shadow: 0px 1px 1px #bbb;
		-webkit-box-shadow: 0px 1px 1px #bbb;
  }
    
table.hide-action-column tr.even .action-column {
  border-top: 1px solid #fff;
  background-color: #fff;
}

table.hide-action-column .nickname-column a {
  display:block;
  white-space:nowrap;
  float: left;
}

.action_toggle_icon {
  background: transparent url('../images/btn_action_toggle_arrow_sprite.png') -50px 0 no-repeat;  
  float: left;
  display: block;
  height: 16px;
  width: 16px;
  margin: 2px 5px 0 0;
  overflow: hidden;
}

.action_toggle_icon_on {
  background-position: 0px 0px;
}